{% extends "base.html" %}
{% block body %}
<section>
    <form method="post">
        <label for="Navn">Navn:</label><br>
        <input type="text" name="Navn" id=""><br>

        <label for="Epostadresse">E-post:</label><br>
        <input type="email" name="Epostadresse" id=""><br>

        <label for="Fødselsdato">Fødselsdato:</label><br>
        <input type="date" name="Fødselsdato" id=""><br>

        <label for="Webadresse">Webadresse:</label><br>
        <input type="url" name="Webadresse" id=""><br>

        <label for="Mboks">Melding:</label><br> 
        <textarea name="Meldingsboks" id="Mboks" cols="30" rows="10"></textarea><br>

        <select name="Klassenavn" id="Sklasse">
            <option value="">--Velg klasse--</option>
            <option value="1">Første</option>
            <option value="2">Andre</option>
            <option value="3">Tredje</option>
            <option value="4">Fjerde</option>
            <option value="5">Femte</option>
        </select><br>

        <input type="submit" value="Submit">
    </form>
</section>
<a href="/"><- Tilbake</a>
{% endblock %}